body {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.623) url('mp-back.avif');
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  background-size: cover;
}

.main-title {
  display: flex;
  align-items: center;
  height: 80vh;
}

.main-title h1 {
  margin-left: -60px;
  font-size: 40px;
  margin-bottom: 100px;
  transform: rotate(-90deg);
  color: white;
  transition: transform 0.3s; 
}
.main-title h1:hover {
  color: #ffcc00; 
  transform: scale(1.1); 
}
#button {
  width: 50px;
  min-height: 50px;
  margin-bottom: 680px;
  margin-left: 10px;
}
#button:hover {
  background-color: rgba(255, 255, 255, 0.3); 
  transform: scale(1.2); 
}


#salmon {
  margin-bottom: 500px;
  margin-left: 50px;
  transform: rotate(-90deg);
  border-radius: 50px;
  transition: transform 0.3s; 
}

#pizza {
  margin-left: -210px;
  margin-top: 300px;
  border-radius: 50px;
  transition: transform 0.3s; 
}

#potato {
  margin-bottom: 450px;
  margin-left: 600px;
  border-radius: 50px;
  transition: transform 0.3s; 
}

#shrimp {
  margin-top: 300px;
  margin-left: -250px;
  border-radius: 50px;
  transition: transform 0.3s; 
}
.main-title #salmon:hover{
  background-color: rgba(255, 255, 255, 0.3); 
  transform: scale(1.1) rotate(-90deg); 
}

.main-title #pizza:hover,
.main-title #potato:hover,
.main-title #shrimp:hover{
  background-color: rgba(255, 255, 255, 0.3); 
  transform: scale(1.1); 
}



#cps {
  margin-top: -600px;
  margin-left: -740px;
  font-size: x-large;
  text-align: center;
  color: white;
  transition: transform 0.3s;
}

#gp {
  font-size: x-large;
  margin-top: 200px;
  margin-left: -150px;
  color: white;
  text-align: center;
  transition: transform 0.3s;
}

#qpg {
  font-size: x-large;
  margin-bottom: 600px;
  margin-left: 680px;
  text-align: center;
  color: white;
  transition: transform 0.3s;
}

#hbs {
  font-size: x-large;
  margin-left: -160px;
  margin-top: 190px;
  text-align: center;
  color: white;
  transition: transform 0.3s;
}

#cps:hover,
#gp:hover,
#qpg:hover,
#hbs:hover {
  color: #ffcc00; 
  transform: scale(1.1); 
}


#price1 {
  color: white;
  font-size: 15px;
  margin-left: -850px;
  margin-bottom: 550px;
  transition: transform 0.3s;
}

#price2 {
  margin-top: 255px;
  margin-left: -50px;
  font-size: 15px;
  color: white;
  transition: transform 0.3s;
}

#price3 {
  margin-left: 750px;
  margin-top: 270px;
  color: white;
  transition: transform 0.3s;
}

#price4 {
  color: white;
  margin-bottom: 500px;
  margin-left: -20px;
  transition: transform 0.3s;
}
#price1:hover,
#price2:hover,
#price3:hover,
#price4:hover{
  color: #ffcc00; 
  transform: scale(1.1); 
}



#des1 {
  color: white;
  margin-left: -870px;
  margin-bottom: 400px;
  transition: transform 0.3s ease-in-out;
}

#des2 {
  color: white;
  margin-top: 420px;
  margin-left: -300px;
  transition: transform 0.3s ease-in-out;
}

#des3 {
  color: white;
  margin-left: 530px;
  margin-bottom: 340px;
  transition: transform 0.3s ease-in-out;
}

#des4 {
  color: white;
  margin-left: -200px;
  margin-top: 430px;
  transition: transform 0.3s ease-in-out;
}
#des1:hover,
#des2:hover,
#des3:hover,
#des4:hover {
  transform: scale(1.1); /* Zoom effect */
}


span {
  font-size: 20px;
}

#quantity1 {
  color: white;
  margin-left: -1170px;
  margin-bottom: 290px;
  font-size: 20px;
  transition: transform 0.3s;
}

#quantity2 {
  font-size: 20px;
  margin-top: 600px;
  margin-left: -110px;
  color: white;
  transition: transform 0.3s;
}

#quantity3 {
  margin-left: 730px;
  margin-bottom: 200px;
  font-size: 20px;
  color: white;
  transition: transform 0.3s;
}

#quantity4 {
  margin-top: 600px;
  margin-left: -120px;
  font-size: 20px;
  color: white;
  transition: transform 0.3s;
}
#quantity1:hover,
#quantity2:hover,
#quantity3:hover,
#quantity4:hover {
  color: #ffcc00; 
  transform: scale(1.1); 
}

/* Add a class for zoom-on-hover effect */
.zoom-on-hover {
  transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}
